
html{
    height:100%;
}

body{
    height:100%;
    margin:0;
}

#divBody{
    height:100%;
    width:100%;
    margin:0px auto;
}

#titleBar{
    background-color:black;
    height:10%;
}

#contentArea{
    height:85%;
}

#navList{
    margin:0px;
    margin-left:1%;
    padding:0px;
    text-align:center;
    display:table;
    background-color:red;
    width:14%;
    height:100%;
    float:left;
}

#navList li{
    display:table-row;
}

#navList img{
    height:100%;
    width:100%;
}

#mapBar{
    background-color:brown;
    width:85%;
    height:100%;
    float:left;
    overflow:hidden;
}

#canvasMap{
    border:1px solid blue;
    top:-850px;
    left:-850px;
    position:absolute;
}

#panelArea{
    width:1700px;
    height:1700px;
}

.mapPanel{
    display:block;
    position:relative;
    float:left;
    width:850px; /*Size of panel*/
    height:850px; /*Size of panel*/
}

#panelA{
    background-color:aliceblue;
}

#panelB{
    background-color:beige;
}

#panelC{
    background-color:coral;
}

#panelD{
    background-color:darkgreen;
}

#footerBar{
    background-color:blue;
    height:5%;
}
