
html{
    height:100%;
}

body{
    height:100%;
    margin:0;
}

#divBody{
    height:100%;
    margin:0px auto;
}

#titleBar{
    background-color:black;
    height:10%;/*Could replace with px if found to be more effective*/
}

#contentArea{
    
}

#navList{
    margin:0px;
    padding:0px;
    text-align:center;
    display:table;
    background-color:red;
    height:inherit;
    float:left;
}

#navList li{
    display:table-row;
}

#navList img{
    height:100%;
    width:100%;
}

#mapBar{
    background-color:brown;
    height:inherit;
    float:left;
}

#canvasMap{
    border:1px solid blue;
}

#footerBar{
    background-color:blue;
    height:5%;/*Could replace with px if found to be more effective*/
}