
html{
    height:100%;
}

body{
    height:100%;

    margin:0;
}

#divBody{
    width:100%;
    height:100%;

    margin:0px auto;
}

#titleBar{
    background-color:black;

    height:10%;
}

#contentArea{
    background-color:yellow;

    height:85%;

    position:relative;
    overflow:hidden;
}

#navList{
    background-color:red;

    width:217px;
    height:100%;

    position:absolute;
    left:1%;
    z-index:2;
    margin:0px;
    padding:0px;

    text-align:center;
    display:table;    
}

#navList li{
    display:table-row;
}

#navList img{
    width:100%;
    height:100%;
}

#mapBar{
    background-color:brown;

    width:85%;
    height:100%;

    float:left;
    overflow:hidden;
}

#canvasMap{
    border:1px solid blue;

    top:-900px;
    left:-900px;
    position:absolute;
}

#panelArea{
    z-index:1;

    width:1700px;
    height:1700px;
}

.mapPanel{
    width:850px; /*Size of panel*/
    height:850px; /*Size of panel*/

    display:block;
    position:relative;
    float:left;
}

#panelA{
    background-color:aliceblue;
}

#panelB{
    background-color:beige;
}

#panelC{
    background-color:coral;
}

#panelD{
    background-color:darkgreen;
}

#footerBar{
    background-color:blue;

    height:5%;
}
